<mat-tab-group class="mb-4 greyed-text" [@.disabled]="true" [(selectedIndex)]="selectedIndex">
  <mat-tab label="Online" *ngIf="enabled[0]">
    <ng-template matTabContent>
      <online-form-create></online-form-create>
    </ng-template>
  </mat-tab>

  <mat-tab label="Serviced" *ngIf="enabled[1]">
    <ng-template matTabContent>
      <serviced-form-create></serviced-form-create>
    </ng-template>
  </mat-tab>

  <mat-tab label="In-person" *ngIf="enabled[2]">
    <ng-template matTabContent>
      <in-person-form-create></in-person-form-create>
    </ng-template>
  </mat-tab>

  <mat-tab label="Consolidated" *ngIf="enabled[3]">
    <ng-template matTabContent>
      <consolidated-form-create></consolidated-form-create>
    </ng-template>
  </mat-tab>

  <mat-tab label="Master" *ngIf="enabled[4]">
    <ng-template matTabContent>
      <master-form-create></master-form-create>
    </ng-template>
  </mat-tab>
</mat-tab-group>
