<mat-tab-group class="mb-4 greyed-text" [@.disabled]="true" [(selectedIndex)]="selectedIndex">
  <mat-tab label="Online">
    <ng-template matTabContent>
      <online-form-create></online-form-create>
    </ng-template>
  </mat-tab>

  <mat-tab label="Serviced">
    <ng-template matTabContent>
      <serviced-form-create></serviced-form-create>
    </ng-template>
  </mat-tab>

  <mat-tab label="In-person">
    <ng-template matTabContent>
      <in-person-form-create></in-person-form-create>
    </ng-template>
  </mat-tab>

  <mat-tab label="Consolidated">
    <ng-template matTabContent>
      <consolidated-form-create></consolidated-form-create>
    </ng-template>
  </mat-tab>

  <mat-tab label="Master">
    <ng-template matTabContent>
      <master-form-create></master-form-create>
    </ng-template>
  </mat-tab>
</mat-tab-group>
