<mat-tab-group class="mb-4 greyed-text" [@.disabled]="true" [(selectedIndex)]="selectedIndex">
  <mat-tab label="Online">
    <online-form-create></online-form-create>
  </mat-tab>

  <mat-tab label="Serviced">
    <serviced-form-create></serviced-form-create>
  </mat-tab>

  <mat-tab label="In-person">
    <in-person-form-create></in-person-form-create>
  </mat-tab>

  <mat-tab label="Consolidated">
    <consolidated-form-create></consolidated-form-create>
  </mat-tab>

  <mat-tab label="Master">
    <master-form-create></master-form-create>
  </mat-tab>
</mat-tab-group>
