<mat-card>
  <form [formGroup]='form' (submit)='onSaveTracking()' enctype='multipart/form-data'>
    <mat-form-field appearance="outline">
      <mat-label>Tracking Number</mat-label>
      <input
      matInput
      type='text'
      formControlName='trackingNumber'>
      <mat-error *ngIf="form.get('trackingNumber').invalid">Please enter a Tracking Number</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Carrier</mat-label>
      <mat-select formControlName="carrier">
        <mat-option *ngFor="let carrier of carriers" [value]="carrier">
          {{carrier}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('carrier').invalid">Please choose a carrier</mat-error>
      <!-- <mat-hint>{{form.get('carrier').value?.sound}}</mat-hint> -->
    </mat-form-field>


    <div class="mt-2 mb-4">
      <button mat-stroked-button type='button' (click)='filePicker.click()'>Pick Image</button>
      <input type="file" #filePicker (change)='onFilePicked($event)'>
      <mat-error *ngIf="form.get('fileValidator').invalid">Invalid input type, only images are supported</mat-error>
    </div>
    <ng-container *ngFor="let url of filesPreview; let indexOfelement=index;">
      <div class='rounded float-left image-preview' data-toggle="modal" [attr.data-target]="'#modal-'+ indexOfelement">
        <img [src]="url">
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modal-{{indexOfelement}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <img [src]="url" class="w-100">
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color='basic' data-dismiss="modal">Close</button>
              <button type="button" class="ml-2" mat-raised-button color='warn' data-dismiss="modal" (click)="deleteFile(indexOfelement, url)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <mat-form-field appearance="outline" class="mt-4">
      <mat-label>Notes</mat-label>
      <textarea
      matInput
      rows='10'
      formControlName='content'
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter some post content</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color='primary'
      type='submit'
      class="mt-2">
      Save Post
    </button>
  </form>
</mat-card>
