<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/">MyMessages</a>
  <a routerLink="/posts">Posts</a>
  <a routerLink="/tracking">Tracking</a>
  <span class="spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink='/create' routerLinkActive="mat-accent">Create</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink='/auth' routerLinkActive="mat-accent">Login/out</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button (click)="onLogOut()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
