<form *ngIf="loginForm" [formGroup]='loginForm' (submit)='onLogin()'>
  <div class="row">
    <div class="col-lg-4">
      <mat-card class="m-3 mr-lg-0 mat-elevation-z0" style="height: 250px">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
          matInput
          placeholder='johndoe@abc.com'
          formControlName='email'
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label translate>auth.password</mat-label>
          <input
          type="password"
          matInput
          placeholder='Password'
          formControlName='password'
          autocomplete="false"
          >
        </mat-form-field>
        <button *ngIf="!buttonIsLoading" mat-raised-button color='accent' type='submit'>{{'auth.login' | translate}}</button>
        <mat-progress-spinner *ngIf="buttonIsLoading" color="primary" mode="indeterminate" diameter="30"></mat-progress-spinner>
      </mat-card>
    </div>
    <div class="col-lg-8 d-none d-lg-block">
      <mat-card class="m-3 ml-lg-0 mat-elevation-z0" style="height: 250px; overflow-y: hidden;">
        <img class="center-of-container w-100" src="https://preview.colorlib.com/theme/bootstrap/login-form-07/images/undraw_remotely_2j6y.svg" alt="">
      </mat-card>
    </div>
    <product-info></product-info>
  </div>
</form>



