<div class="w-full h-full" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0" translate>auth.forgot-password</h2>
      <h4 class="body-2 text-secondary m-0" translate>general.please-fill-up</h4>
    </div>
  
    <form *ngIf="passwordResetForm" [formGroup]="passwordResetForm" (submit)='onPasswordReset()' (keydown.enter)="$event.preventDefault()" class="p-6" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
        matInput
        placeholder='johndoe@abc.com'
        formControlName='email'
        required>
        <mat-error>Please enter a valid email</mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutGap="16px">
        <button *ngIf="!isLoading" mat-raised-button color='accent' type='submit'>Send</button>
        <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate" diameter="30"></mat-progress-spinner>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <toolbar-language></toolbar-language>
          <a [routerLink]="['/auth']" class="caption" translate>general.back</a>
        </div>
      </div>
    </form>
  </div>
</div>

