<!-- <auto-complete-input
  #companyCode
  [dataObservable]="companiesSubject.asObservable()"
  (itemSelected)="companySelected($event)"
  [matLabel]="'Company Code'">
</auto-complete-input> -->
<a mat-button [matMenuTriggerFor]="createMenu" style="color: white; padding: 0; text-decoration: none;" class="mx-2">{{currentOrg?.name? currentOrg.name : 'Onboard'}}</a>
<mat-menu #createMenu="matMenu">
  <a mat-menu-item class="nav-link" style="font-size: 2em;" [cdkCopyToClipboard]="currentOrg.registerCode" *ngIf="currentOrg">{{currentOrg?.registerCode}}</a>
  <a mat-menu-item class="nav-link" [routerLinkActive]="['is-active']" *ngIf="canView(authGlobals.admins)" [routerLink]="'/auth/orgs/edit/' + currentUser?.organization._id">{{'auth.edit-organization' | translate}}</a>
  <a mat-menu-item class="nav-link" (click)="companySelected(-1)">{{'auth.onboard-to-new-organization' | translate}}</a>
  <mat-divider *ngIf="currentOrg"></mat-divider>
  <ng-container *ngFor="let org of organizations; let i = index">
    <a mat-menu-item class="nav-link" (click)="companySelected(i)" routerLinkActive="mat-accent">{{org.name}} {{org.email}}</a>
  </ng-container>
</mat-menu>

<!-- Button trigger modal -->
<button id="onboardButton" hidden mat-raised-button color='primary' data-toggle="modal" data-target="#registerCodeModal"></button>

<!-- Modal -->
<div class="modal fade" id="registerCodeModal" tabindex="-1" role="dialog" aria-labelledby="registerCodeModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <mat-form-field appearance="outline">
          <mat-label translate>auth.register-code</mat-label>
          <input
            #registerCode
            type="text"
            required
            matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label translate>auth.referral-code</mat-label>
          <input
            #referralCode
            type="text"
            matInput>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button mat-raised-button *ngIf="registerCode.value" class="mr-3" color='accent' data-dismiss="modal" (click)="onboard(registerCode.value, referralCode.value)">{{'general.update' | translate}}</button>
        <button mat-raised-button color='basic' data-dismiss="modal">{{'general.close' | translate}}</button>
      </div>
    </div>
  </div>
</div>
