<!-- <input type="file" id="cameraButton" #filePicker (change)='decode($event)' hidden> -->
<a
  hidden data-toggle="collapse"
  id="cameraButton" href="#scannerContainer"
  role="button" aria-expanded="false"
  (click)="scannerClick()">
</a>

<div *ngIf="isOpen" class="collapse mb-3" id="scannerContainer">
    <scandit-sdk-barcode-picker #picker [accessCamera]="cameraAccess"
      [camera]="activeCamera"
      [cameraSettings]="cameraSettings"
      [enableCameraSwitcher]="enableCameraSwitcher"
      [enablePinchToZoom]="enablePinchToZoom"
      [enableTapToFocus]="enableTapToFocus"
      [enableTorchToggle]="enableTorchToggle"
      [guiStyle]="scannerGuiStyle"
      [paused]="scanningPaused"
      [playSoundOnScan]="enableSoundOnScan"
      [scanSettings]="activeSettings"
      [targetScanningFPS]="fps"
      [vibrateOnScan]="enableVibrateOnScan"
      [videoFit]="videoFit"
      [visible]="visible"
      [style.height]="'30vw'"
      [style.width]="'100%'"
      (scan)="onScan($event)"
      (init)="isReady = false" (ready)="isReady = true">
    </scandit-sdk-barcode-picker>
</div>
