<div class="d-flex">
  <a
    *ngIf="!isCustomer()"
    mat-mini-fab
    color='primary'
    class="mt-2 d-inline mr-2"
    (click)="openScanner()">
    <mat-icon>qr_code</mat-icon>
  </a>
  <form [formGroup]="searchForm" (submit)="onSearch()" class="w-100">
    <mat-form-field appearance="outline">
      <mat-label>{{description}}</mat-label>
      <input
        matInput
        formControlName='searchTerm'
        type='text'>
        <button
          matSuffix
          mat-icon-button
          type="button"
          (click)="clearContent()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  </form>
  <a
    mat-mini-fab
    color='primary'
    (click)="onSearch()"
    class="mt-2 d-inline ml-2">
    <mat-icon>search</mat-icon>
  </a>
</div>

<app-code-scanner *ngIf="scannerOpened">Code Scanner</app-code-scanner>
