<div class="mt-4" *ngIf="(tracking.generalInfo.type === trackingGlobals.trackingTypes.ONLINE || tracking.generalInfo.type === trackingGlobals.trackingTypes.SERVICED || tracking.generalInfo.type === trackingGlobals.trackingTypes.INPERSONSUB) && tracking.itemsList.length > 0">
  <div style="overflow-x: auto; white-space: nowrap;">
    <table mat-table [dataSource]="tracking.itemsList">
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.item-name</span></th>
        <td mat-cell *matCellDef="let item">{{item.name}}</td>
      </ng-container>

      <ng-container matColumnDef="declaredValue">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.declared-value</span></th>
        <td mat-cell *matCellDef="let item">{{item.declaredValue | currency: 'USD'}}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.quantity</span></th>
        <td mat-cell *matCellDef="let item">{{item.quantity}}</td>
      </ng-container>

      <ng-container matColumnDef="insurance">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.insurance</span></th>
        <td mat-cell *matCellDef="let item">% {{item.insurance}}</td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.weight</span></th>
        <td mat-cell *matCellDef="let item">Kg {{item.weight}}</td>
      </ng-container>

      <ng-container matColumnDef="weightUnitCharge">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.weight-unit-charge</span></th>
        <td mat-cell *matCellDef="let item">{{item.unitCharge | currency: 'USD'}}</td>
      </ng-container>

      <ng-container matColumnDef="extraCharge">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.extra-charge</span></th>
        <td mat-cell *matCellDef="let item">{{item.extraChargeUnit}} {{item.extraCharge}}</td>
      </ng-container>

      <ng-container matColumnDef="finalCharge">
        <th mat-header-cell *matHeaderCellDef><span translate>tracking-info.final-charge</span></th>
        <td mat-cell *matCellDef="let item">{{getItemCharge(item) | currency: 'USD'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="onlineInPersonDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: onlineInPersonDisplayedColumns;"></tr>
    </table>
  </div>

  <div class="row mt-4">
    <div class="col">
      <b translate>tracking-info.total-weight</b>
      <div>Kg {{tracking.generalInfo.totalWeight}}</div>
      <b translate>tracking-info.cost-adjustment</b>
      <div>{{tracking.generalInfo.costAdjustment | currency: 'USD'}}</div>
    </div>
    <div class="col">
      <b translate>tracking-info.exchange</b>
      <div>{{tracking.generalInfo.exchange | currency: 'VND'}}</div>
      <b translate>tracking-info.final-cost</b>
      <div><span class="mr-4">{{tracking.generalInfo.finalCost | currency: 'USD'}}</span>{{tracking.generalInfo.finalCost * tracking.generalInfo.exchange | currency: 'VND'}}</div>
    </div>
  </div>
</div>

<div class="mt-4" *ngIf="tracking.generalInfo.type == trackingGlobals.trackingTypes.INPERSON && tracking.subTrackings.length > 0">
  <ng-container *ngFor="let subTracking of tracking.subTrackings">
    <div style="overflow-x: auto; white-space: nowrap;">
      <table mat-table [dataSource]="subTracking.itemsList">
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.item-name</span></th>
          <td mat-cell *matCellDef="let item">{{item.name}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="declaredValue">
          <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.declared-value</span></th>
          <td mat-cell *matCellDef="let item">{{item.declaredValue | currency: 'USD'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.quantity</span></th>
          <td mat-cell *matCellDef="let item">{{item.quantity}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="insurance">
          <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.insurance</span></th>
          <td mat-cell *matCellDef="let item">% {{item.insurance}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.weight</span></th>
          <td mat-cell *matCellDef="let item">Kg {{item.weight}}</td>
          <td mat-footer-cell *matFooterCellDef> Kg {{subTracking.generalInfo.totalWeight}} </td>
        </ng-container>

        <ng-container matColumnDef="weightUnitCharge">
          <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.weight-unit-charge</span></th>
          <td mat-cell *matCellDef="let item">{{item.unitCharge | currency: 'USD'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="extraCharge">
          <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.extra-charge</span></th>
          <td mat-cell *matCellDef="let item">{{item.extraChargeUnit}} {{item.extraCharge}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="finalCharge">
          <th mat-header-cell *matHeaderCellDef><span translate>tracking-info.final-charge</span></th>
          <td mat-cell *matCellDef="let item">{{getItemCharge(item) | currency: 'USD'}}</td>
          <td mat-footer-cell *matFooterCellDef>
            <div class="mr-4">{{subTracking.generalInfo.finalCost | currency: 'USD'}}</div>
            <div>{{subTracking.generalInfo.finalCost * subTracking.generalInfo.exchange | currency: 'VND'}}</div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="onlineInPersonDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: onlineInPersonDisplayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="onlineInPersonDisplayedColumns"></tr>
      </table>
    </div>
    <div class="row mt-2">
      <div class="col-md mr-1 text-center"><a [routerLink]="['/trackings/view/' + subTracking.trackingNumber]">{{subTracking.trackingNumber}}</a></div>
      <div class="col-md mr-1 text-center"><a [routerLink]="'/trackings/view/' + subTracking.linkedToCsl?.trackingNumber"> {{subTracking.linkedToCsl?.trackingNumber}}</a></div>
      <div class="col-md mr-1 text-center"><a [routerLink]="'/trackings/view/' + subTracking.linkedToMst?.trackingNumber"> {{subTracking.linkedToMst?.trackingNumber}}</a></div>
      <div class="col-md mr-1 text-center"><span class="badge mr-1 text-white" [ngClass]="getBadgeColor(subTracking.generalInfo.trackingStatus)">{{'statuses.' + subTracking.generalInfo.trackingStatus | translate}}</span></div>
      <div class="col-md mr-1 text-center"><span class="badge mr-1 text-white" [ngClass]="getBadgeColor(subTracking.generalInfo.financialStatus)">{{'statuses.' + subTracking.generalInfo.financialStatus | translate}}</span></div>
    </div>
  </ng-container>


  <div class="row mt-4">
    <div class="col">
      <b translate>tracking-info.total-weight</b>
      <div>Kg {{tracking.generalInfo.totalWeight}}</div>
      <b translate>tracking-info.cost-adjustment</b>
      <div>{{tracking.generalInfo.costAdjustment | currency: 'USD'}}</div>
    </div>
    <div class="col">
      <b translate>tracking-info.exchange</b>
      <div>{{tracking.generalInfo.exchange | currency: 'VND'}}</div>
      <b translate>tracking-info.final-cost</b>
      <div><span class="mr-4">{{tracking.generalInfo.finalCost | currency: 'USD'}}</span>{{tracking.generalInfo.finalCost * tracking.generalInfo.exchange | currency: 'VND'}}</div>
    </div>
  </div>
</div>

<div class="mt-4" *ngIf="tracking.generalInfo.type === trackingGlobals.trackingTypes.CONSOLIDATED && (tracking.onlineTrackings.length > 0 || tracking.servicedTrackings.length > 0 || tracking.inPersonSubTrackings.length > 0)">
  <div style="overflow-x: auto; white-space: nowrap;">
    <table mat-table [dataSource]="combineTrackings(tracking.onlineTrackings, tracking.servicedTrackings, tracking.inPersonSubTrackings)">
      <ng-container matColumnDef="trackingNumber">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>general.tracking-number</span></th>
        <td mat-cell *matCellDef="let item">
          <div *ngIf="item.trackingNumber.substring(0,3) == 'inp'">
            <a [routerLink]="['/trackings/view/' + item.trackingNumber.slice(0, -3)]">{{item.trackingNumber}}</a>
          </div>
          <div *ngIf="item.trackingNumber.substring(0,3) != 'inp'">
            <a [routerLink]="['/trackings/view/' + item.trackingNumber]">{{item.trackingNumber}}</a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>general.payment</span></th>
        <td mat-cell *matCellDef="let item">
          <mat-slide-toggle
            [checked]="item.generalInfo.financialStatus == trackingGlobals.financialStatuses.Paid"
            (change)="childTrackingToggle(item, !(item.generalInfo.financialStatus == trackingGlobals.financialStatuses.Paid), tracking, i);"
            class="mr-2">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.weight</span></th>
        <td mat-cell *matCellDef="let item">Kg {{item.generalInfo?.totalWeight}}</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" class="col" translate>tracking-info.final-charge</span></th>
        <td mat-cell *matCellDef="let item">{{item.generalInfo?.finalCost | currency: 'USD'}}</td>
      </ng-container>

      <ng-container matColumnDef="trackingStatus">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.status</span></th>
        <td mat-cell *matCellDef="let item">
          <mat-select [value]="item.generalInfo.trackingStatus" (selectionChange)="childTrackingToggle(item, $event.value, tracking, i)" [disabled]="!trackingGlobals.postReceivedAtDestination.includes(item.generalInfo.trackingStatus)">
            <mat-option *ngFor="let status of trackingGlobals.allTrackingStatuses" [value]="status" [disabled]="!trackingGlobals.postReceivedAtDestination.includes(status)">
              {{'statuses.' + status | translate}}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="consolidatedDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: consolidatedDisplayedColumns;"></tr>
    </table>
  </div>

  <div class="row mt-4">
    <div class="col">
      <b translate>tracking-info.total-weight</b>
      <div>Kg {{getConsolidatedTotalWeightCost(tracking).weight}}</div>
    </div>
    <div class="col">
      <b translate>tracking-info.final-cost</b>
      <div>{{getConsolidatedTotalWeightCost(tracking).cost | currency: 'USD'}}</div>
    </div>
  </div>
</div>

<div class="mt-4" *ngIf="tracking.generalInfo.type === trackingGlobals.trackingTypes.MASTER && tracking.boxes.length > 0">
  <div style="overflow-x: auto; white-space: nowrap;">
    <table mat-table [dataSource]="getMasterSubTrackings(tracking)">
      <ng-container matColumnDef="trackingNumber">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>general.tracking-number</span></th>
        <td mat-cell *matCellDef="let item"><a [routerLink]="['/trackings/view/' + tracking.trackingNumber]">{{item.trackingNumber}}</a></td>
      </ng-container>

      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>general.payment</span></th>
        <td mat-cell *matCellDef="let item">
          <mat-slide-toggle
            [checked]="item.generalInfo.financialStatus == trackingGlobals.financialStatuses.Paid"
            (change)="childTrackingToggle(item, !(item.generalInfo.financialStatus == trackingGlobals.financialStatuses.Paid), tracking, i);"
            class="mr-2">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.weight</span></th>
        <td mat-cell *matCellDef="let item">Kg {{item.generalInfo?.totalWeight}}</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" class="col" translate>tracking-info.final-charge</span></th>
        <td mat-cell *matCellDef="let item">{{item.generalInfo?.finalCost | currency: 'USD'}}</td>
      </ng-container>

      <ng-container matColumnDef="pallet">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" class="col" translate>tracking-info.pallet</span></th>
        <td mat-cell *matCellDef="let item">{{item.palletNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="box">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" class="col" translate>tracking-info.box</span></th>
        <td mat-cell *matCellDef="let item">{{item.boxNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef><span class="pr-2" translate>tracking-info.status</span></th>
        <td mat-cell *matCellDef="let item">
          <mat-select [value]="item.generalInfo.trackingStatus" (selectionChange)="childTrackingToggle(item, $event.value, tracking, i)" [disabled]="!trackingGlobals.postReceivedAtDestination.includes(item.generalInfo.trackingStatus)">
            <mat-option *ngFor="let status of trackingGlobals.allTrackingStatuses" [value]="status" [disabled]="!trackingGlobals.postReceivedAtDestination.includes(status)">
              {{'statuses.' + status | translate}}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="masterDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: masterDisplayedColumns;"></tr>
    </table>
  </div>

  <div class="row mt-4">
    <div class="col">
      <b translate>tracking-info.total-weight</b>
      <div>Kg {{getMasterTotalWeightCost(tracking.boxes).weight}}</div>
    </div>
    <div class="col">
      <b translate>tracking-info.final-cost</b>
      <div><span class="mr-4">{{getMasterTotalWeightCost(tracking.boxes).cost | currency: 'USD'}}</span> {{getMasterTotalWeightCost(tracking.boxes).costVND | currency: 'VND'}}</div>
    </div>
  </div>
</div>

