<div class="mx-auto">
  <mat-accordion *ngIf='trackings.length > 0'>
    <mat-expansion-panel *ngFor='let tracking of trackings, let i = index'>
      <mat-expansion-panel-header class={{getHeaderColor(tracking.generalInfo.trackingStatus)}} [collapsedHeight]="'*'" [expandedHeight]="'*'">
        <mat-panel-title>
          <div class="col">
            <div>
              <b [cdkCopyToClipboard]="tracking.trackingNumber" class="mr-1">{{tracking.trackingNumber}}</b>
              <span class="badge mr-1 text-white" [ngClass]="getBadgeColor(tracking.generalInfo.trackingStatus)">{{'statuses.' + tracking.generalInfo.trackingStatus | translate}}</span>
              <span class="badge mr-1 text-white" [ngClass]="getBadgeColor(tracking.generalInfo.financialStatus)">{{'statuses.' + tracking.generalInfo.financialStatus | translate}}</span>
              <span class="badge mr-1 text-white" [ngClass]="getBadgeColor('Consolidated')" *ngIf="tracking.linkedToCsl?.trackingNumber">{{'statuses.consolidated' | translate}}</span>
            </div>
            <div *ngIf="tracking.carrierTracking">
              <span class="badge border rounded border-primary m-1" [cdkCopyToClipboard]="tracking.carrierTracking.carrierTrackingNumber"><a [routerLink]="getCarrierTrackingUrl(tracking.carrierTracking.carrierTrackingNumber)">{{tracking.carrierTracking.carrierTrackingNumber}}</a></span>
              <span class="badge border rounded border-warning m-1">{{tracking.carrierTracking.carrier}}</span>
              <span class="badge border rounded border-success m-1">{{tracking.carrierTracking.status}}</span>
            </div>
          </div>
          <div class="ml-auto"><span translate>general.update </span>{{globalConstants.formatDateTime(tracking.updatedAt).fromNow()}}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="row image-container">
          <ng-container *ngFor="let url of tracking.generalInfo.filePaths; let indexOfelement=index;">
            <div class='image-preview d-inline-flex float-left' data-toggle="modal" [attr.data-target]="'#modal-'+ indexOfelement">
              <img [src]="url">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal-{{indexOfelement}}" tabindex="-1" role="dialog" data-backdrop="false">
              <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <img [src]="url" class="w-100">
                  </div>
                  <div class="modal-footer">
                    <button type="button" mat-raised-button color='basic' data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label translate>notes</mat-label>
              <textarea
                readonly
                rows="2"
                value="{{tracking.generalInfo.content}}"
                matInput
                ></textarea>
            </mat-form-field>

            <div class="mat-h4"><b translate>general.date-time</b> {{globalConstants.formatDateTime(tracking.createdAt).local().format('YYYY-MM-DD HH:mm:ss')}}</div>
            <div class="mat-h4"><b translate>general.origin</b> {{tracking.generalInfo.origin}}</div>
            <div class="mat-h4"><b translate>general.destination</b> {{tracking.generalInfo.destination}}</div>
            <div class="mat-h4" *ngIf="tracking.generalInfo.sender"><b translate>general.sender</b> {{tracking.generalInfo.sender.name}} | <b>{{tracking.generalInfo.sender.userCode}}</b> | {{tracking.generalInfo.sender.phoneNumber}}</div>
            <div class="mat-h4" *ngIf="tracking.generalInfo.recipient"><b translate>general.recipient</b> {{tracking.generalInfo.recipient.name}} | <a rel="noopener noreferrer" target="_blank" href="{{tracking.generalInfo.recipient.address.addressUrl}}">{{tracking.generalInfo.recipient.address.address}} {{tracking.generalInfo.recipient.address.addressLineTwo}}</a> | {{tracking.generalInfo.recipient.phoneNumber}}</div>
            <div class="mat-h4" *ngIf="tracking.linkedToCsl"><b translate>tracking-types.csl</b> <a [routerLink]="'/trackings/view/' + tracking.linkedToCsl.trackingNumber"> {{tracking.linkedToCsl.trackingNumber}}</a></div>
            <div class="mat-h4" *ngIf="tracking.linkedToMst"><b translate>tracking-types.mst</b> <a [routerLink]="'/trackings/view/' + tracking.linkedToMst.trackingNumber"> {{tracking.linkedToMst.trackingNumber}}</a></div>

            <!-- <div class="row d-flex justify-content-start align-items-center">
              <ngx-qrcode
                [elementType]="'url'"
                [value]="tracking.trackingNumber"
                cssClass="aclass"
                errorCorrectionLevel="L">
              </ngx-qrcode>
              <div class="mx-4"></div>
              <ngx-barcode
                [bc-value]="tracking.trackingNumber"
                [bc-element-type]="'url'"
                [bc-height]="50"
                [bc-width]="1">
              </ngx-barcode>
            </div> -->
          </div>
          <div class="col-lg-6 mt-xs-2 mt-md-0">
            <form class="ml-0" (submit)="onCommentSubmit(tracking._id, tracking.trackingNumber, comment.value); comment.value = ''" (keydown.meta.enter)="onCommentSubmit(tracking._id, tracking.trackingNumber, comment.value); comment.value = ''">
              <div class="d-flex">
                <mat-form-field appearance="outline" class="mr-2">
                  <mat-label translate>comment</mat-label>
                  <textarea
                    #comment
                    rows="2"
                    matInput
                    cdkTextareaAutosize></textarea>
                </mat-form-field>
                <button
                  mat-icon-button
                  color='primary'
                  type='submit'
                  class="mt-2 d-inline">
                  <mat-icon>send</mat-icon>
                </button>
              </div>
            </form>
            <div class="scroll-box">
              <ng-container *ngFor="let comment of tracking.generalInfo.comments">
                <div class="mat-body-strong">{{comment?.creatorName}}   <span class="dimmed-text">{{globalConstants.formatDateTime(comment?.updatedAt)}}</span></div>

                <div>{{comment?.content}}</div>
                <hr>
              </ng-container>
            </div>
          </div>
        </div>

        <tracking-list-items-common
          [trackings]="trackings"
          [tracking]="tracking"
          [i]="i">
        </tracking-list-items-common>

        <!-- Printing section -->
        <div hidden id="print-section{{i}}">
            <general-info-print
              [currentOrg]="currentOrg"
              [tracking]="tracking"
              [sender]="tracking.generalInfo.sender"
              [recipient]="tracking.generalInfo.recipient">
            </general-info-print>

            <tracking-list-items-common
              [trackings]="trackings"
              [tracking]="tracking"
              [i]="i">
            </tracking-list-items-common>
        </div>

        <div hidden id="print-section-barcodes{{i}}">
          <barcodes-print
            [tracking]="tracking">
          </barcodes-print>
        </div>
      </ng-template>

      <mat-action-row>
        <div class="row">
          <div class="col-lg">
            <div class="d-flex">
              <div *ngIf="tracking.generalInfo.type == trackingGlobals.trackingTypes.ONLINE" style="position: relative; bottom: -6px;">
                <mat-slide-toggle
                  [checked]="trackingGlobals.postReceivedAtOrigin.includes(tracking.generalInfo.trackingStatus)"
                  [disabled]="trackingGlobals.postReadyToFly.includes(tracking.generalInfo.trackingStatus)"
                  (change)="$event.checked? trackingToggle(tracking, i, trackingGlobals.trackingStatuses.ReceivedAtOrigin): trackingToggle(tracking, i, trackingGlobals.trackingStatuses.Created)"
                  class="mr-2">
                  Received at Origin
                </mat-slide-toggle>
              </div>
              <div *ngIf="tracking.generalInfo.type == trackingGlobals.trackingTypes.MASTER" style="position: relative; bottom: -6px;">
                <div class="d-block">
                  <mat-slide-toggle
                    #flying
                    [checked]="trackingGlobals.postFlying.includes(tracking.generalInfo.trackingStatus)"
                    [disabled]="trackingGlobals.postReceivedAtDestination.includes(tracking.generalInfo.trackingStatus)"
                    (change)="$event.checked? trackingToggle(tracking, i, trackingGlobals.trackingStatuses.Flying): trackingToggle(tracking, i, trackingGlobals.trackingStatuses.ReadyToFly)"
                    class="mr-2">Flying
                  </mat-slide-toggle>
                  <mat-slide-toggle
                    #receivedAtDestination
                    matTooltip="Only manager/admin can switch it back"
                    [checked]="trackingGlobals.postReceivedAtDestination.includes(tracking.generalInfo.trackingStatus)"
                    [disabled]="!flying.checked || (receivedAtDestination.checked && !authGlobal.managerAdmins.includes(currentUser.role))"
                    (change)="$event.checked? trackingToggle(tracking, i, trackingGlobals.trackingStatuses.ReceivedAtDestination): trackingToggle(tracking, i, trackingGlobals.trackingStatuses.Flying)"
                    class="mr-2">Received at Destination
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg mt-4 mt-lg-0">
            <div class="d-flex justify-content-end">
              <a class="mr-2" *ngIf="canEdit(authGlobal.officers, tracking.generalInfo.creatorId)" mat-button color='primary' [routerLink]="['/trackings/edit/' + tracking.trackingNumber.substring(0,3), tracking.trackingNumber]">Edit</a>
              <!-- <a class="mr-2" mat-button color='warn' (click)='onDelete(tracking._id)'>Delete</a> -->
              <button mat-mini-fab color="primary" class="mr-4" ngxPrint printSectionId="print-section{{i}}" [useExistingCss]="true"><mat-icon>print</mat-icon></button>
              <button mat-mini-fab color="accent" class="mr-4" ngxPrint printSectionId="print-section-barcodes{{i}}" [useExistingCss]="true"><mat-icon>print</mat-icon></button>
            </div>
          </div>
        </div>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator #paginator *ngIf='trackings.length > 0'[length]='totalTrackings' [(pageSize)]='currentPageSize' [pageSizeOptions]='pageSizeOptions' (page)='pageDataChange($event)'></mat-paginator>
  <div *ngIf='trackings.length == 0' class="text-center">
    <!-- No data found -->
  </div>
</div>
