<div class="mt-2">
  <auto-complete-input
    [dataObservable]="usersSubject.asObservable()"
    [enforeSelection]="true"
    (itemSelected)="userSelected($event)"
    [matLabel]="'User to edit'"
    [matErrorMessage]="'Please select one from the drowdown'"
    [lockOption]="false"
    >
  </auto-complete-input>
</div>

<form *ngIf="creditForm" [formGroup]='creditForm' (submit)='onSubmit()' class="my-4">
  <span style="font-size: 3em;">{{editUser.credit | currency: 'USD'}}</span>

  <mat-form-field appearance="standard" class="mt-4">
    <input
    matInput
    formControlName='amount'
    currencyMask
    [options]="{prefix: '$ ', thousands: ',', decimal: '.', align: 'left', allowNegative: true}">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Notes</mat-label>
    <textarea
    matInput
    rows='2'
    cdkTextareaAutosize
    formControlName='content'
    ></textarea>
  </mat-form-field>

  <div class="scroll-box">
    <ng-container *ngFor="let history of editUser.creditHistory">
      <div>{{history?.action}}  <span class="dimmed-text">{{formatDateTime(history?.updatedAt)}}</span></div>
      <hr>
    </ng-container>
  </div>

  <br>
  <button class="mt-2" mat-raised-button color='accent' type='submit'>Submit</button>
</form>

