<form *ngIf="passwordResetForm" [formGroup]="passwordResetForm" (submit)='onPasswordReset()' (keydown.enter)="$event.preventDefault()" class="my-4">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
    matInput
    placeholder='johndoe@abc.com'
    formControlName='email'
    required>
    <mat-error>Please enter a valid email</mat-error>
  </mat-form-field>
  <br>
  <button *ngIf="!isLoading" class="m-3" mat-raised-button color='accent' type='submit'>Send</button>
  <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate" diameter="30"></mat-progress-spinner>
</form>
