<div class="row m-0">
  <div class="col-lg-6">
    <mat-card class="text-center text-white m-3 mr-lg-0 mat-elevation-z0 bg-info border-0 card">
      <mat-icon class="card-icon">insights</mat-icon>
      <mat-card-title class="mt-3">
        <span *ngIf="translateService.currentLang == 'en'">Track Packages</span>
        <span *ngIf="translateService.currentLang == 'vi'">Kiểm soát đơn hàng</span>
      </mat-card-title>
      <mat-card-content>
        <p *ngIf="translateService.currentLang == 'en'">
          Weshippee lets you manage packages end to end, whether they are online or in person, and consolidate them for invoicing
        </p>
        <p *ngIf="translateService.currentLang == 'vi'">
          Weshippee giúp bạn quản lý kiện hàng từ lúc nhận tới lúc giao hoàn chỉnh, bất kể đó là hàng online hay giao tận tay, tổng hợp nhiều đơn hàng và xuất hoá đơn cùng lúc
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="text-center text-white m-3 ml-lg-0 mat-elevation-z0 bg-success border-0 card">
      <mat-icon class="card-icon">credit_card</mat-icon>
      <mat-card-title class="mt-3">
        <span *ngIf="translateService.currentLang == 'en'">Custom Pricing</span>
        <span *ngIf="translateService.currentLang == 'vi'">Bảng giá cá nhân hoá</span>
      </mat-card-title>
      <mat-card-content>
        <p *ngIf="translateService.currentLang == 'en'">
          A special feature that we offer is that each customer can have a special pricing on top of your default pricing
        </p>
        <p *ngIf="translateService.currentLang == 'vi'">
          Đây là một tính năng đặt biệt chỉ có Weshippee có. Tính năng này giúp bạn điều chỉnh mức giá đặc biệt cho từng khách hàng khác nhau
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="text-center text-white m-3 mr-lg-0 mat-elevation-z0 bg-warning border-0 card">
      <mat-icon class="card-icon">send_and_archive</mat-icon>
      <mat-card-title class="mt-3">
        <span *ngIf="translateService.currentLang == 'en'">Auto Status Update</span>
        <span *ngIf="translateService.currentLang == 'vi'">Tự động theo dõi đơn hàng</span>
      </mat-card-title>
      <mat-card-content>
        <p *ngIf="translateService.currentLang == 'en'">
          Weshippee automatically updates the status of packages from UPS, USPS, Fedex... even when you sleep
        </p>
        <p *ngIf="translateService.currentLang == 'vi'">
          Weshippe sẽ tự động theo dõi và cập nhật tình trạng đơn hàng từ UPS, USPS, Fedex... kể cả khi bạn ngủ
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="text-center text-white m-3 ml-lg-0 mat-elevation-z0 bg-danger border-0 card">
      <mat-icon class="card-icon">person_pin</mat-icon>
      <mat-card-title class="mt-3">
        <span *ngIf="translateService.currentLang == 'en'">Self Service</span>
        <span *ngIf="translateService.currentLang == 'vi'">Dịch vụ khách hàng</span>
      </mat-card-title>
      <mat-card-content>
        <p *ngIf="translateService.currentLang == 'en'">
          Users can log in and check directly where they packages are without asking you so you can spend time on more important things
        <p *ngIf="translateService.currentLang == 'vi'">
          Khách hàng có thể tự đăng nhập và kiểm tra tình trạng đơn hàng nên bạn có thể dành thời gian cho những việc quan trọng hơn
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="text-center text-white m-3 mr-lg-0 mat-elevation-z0 bg-secondary border-0 card">
      <mat-icon class="card-icon">euro</mat-icon>
      <mat-card-title class="mt-3">
        <span *ngIf="translateService.currentLang == 'en'">Debt Management</span>
        <span *ngIf="translateService.currentLang == 'vi'">Quản lý công nợ</span>
      </mat-card-title>
      <mat-card-content>
        <p *ngIf="translateService.currentLang == 'en'">
          With a simple query, you know how much every customer owes you and vice versa
        </p>
        <p *ngIf="translateService.currentLang == 'vi'">
          Chỉ với một cú click, bạn có thể biết được bạn đang giữ bao nhiêu tiền cho từng khách hàng và từng khách hàng đang nợ bạn bao nhiêu
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="text-center text-white m-3 ml-lg-0 mat-elevation-z0 bg-primary border-0 card">
      <mat-icon class="card-icon">favorite_border</mat-icon>
      <mat-card-title class="mt-3">
        <span *ngIf="translateService.currentLang == 'en'">Contact Us for 30-day Free Trial</span>
        <span *ngIf="translateService.currentLang == 'vi'">Liên hệ để dùng thử 30 ngày</span>
      </mat-card-title>
      <mat-card-content>
        <span>
          <mat-icon style="position: relative; top: 6px;">mail_outline</mat-icon>
          <span> khoa.hoang@outlook.com</span>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

