<form [formGroup]="finalizedInfoForm" class="my-4" (keydown.enter)="$event.preventDefault()">
  <div class="row mt-4">
    <div class="col-lg-4">
      <span class="d-block mat-h3"><b>Total weight charge</b></span>
      <span class="d-block mat-h4">$&nbsp;{{totalWeightCharge}}</span>
      <span class="d-block mat-h3"><b>Total extra charge</b></span>
      <span class="d-block mat-h4">$&nbsp;{{totalExtraCharge}}</span>
      <span class="d-block mat-h3"><b>Total insurance</b></span>
      <span class="d-block mat-h4">$&nbsp;{{totalInsurance}}</span>
    </div>

    <div class="col-lg-4">
      <span class="d-block mat-h3"><b>Total weight</b></span>
      <span class="d-block mat-h4">{{totalWeight}}&nbsp;Kg</span>
      <span class="d-block mat-h3"><b>Total saving</b></span>
      <span class="d-block mat-h4">$&nbsp;{{totalSaving}}</span>

    </div>
    <div class="col-lg-4">
      <span class="d-block mat-h3 mb-0"><b>Adjustment</b></span>
      <mat-form-field>
        <input
        matInput
        formControlName='costAdjustment'
        currencyMask
        [options]="{prefix: '$ ', thousands: ',', decimal: '.', align: 'left', allowNegative: true}"
        (keyup)="getFinalizedInfo()">
      </mat-form-field>

      <span class="d-block mat-h3 mb-0"><b>Exchange</b></span>
      <mat-form-field>
        <input
        matInput
        formControlName='exchange'
        currencyMask
        [options]="{prefix: 'VND ', thousands: ',', decimal: '.', align: 'left', allowNegative: false}"
        (keyup)="getFinalizedInfo()">
      </mat-form-field>

      <span class="d-block mat-h3 mb-0"><b style="color: red; font-size: 1.5rem;">Final Charge</b></span>
      <mat-form-field>
        <input
        matInput
        currencyMask
        [options]="{prefix: '$ ', thousands: ',', decimal: '.', align: 'left', allowNegative: false}"
        formControlName='finalCost'
        readonly
        style="font-size: 1.5rem;">
      </mat-form-field>

      <mat-form-field>
        <input
        matInput
        currencyMask
        [options]="{prefix: 'VND ', thousands: ',', decimal: '.', align: 'left', allowNegative: false}"
        formControlName='finalCostVND'
        readonly
        style="font-size: 1.5rem;">
      </mat-form-field>
    </div>
  </div>
</form>
