<form [formGroup]="finalizedInfoForm" class="my-4" (keydown.enter)="$event.preventDefault()">
  <div class="row mt-4">
    <div class="col-lg-4">
      <span class="d-block mat-h3"><b>Total weight charge</b></span>
      <span class="d-block mat-h4">$&nbsp;{{totalWeightCharge}}</span>
      <span class="d-block mat-h3"><b>Total extra charge</b></span>
      <span class="d-block mat-h4">$&nbsp;{{totalExtraCharge}}</span>
      <span class="d-block mat-h3"><b>Total insurance</b></span>
      <span class="d-block mat-h4">$&nbsp;{{totalInsurance}}</span>
    </div>

    <div class="col-lg-4">
      <span class="d-block mat-h3"><b>Total weight</b></span>
      <span class="d-block mat-h4">{{totalWeight}}&nbsp;Kg</span>
      <span class="d-block mat-h3"><b>Total saving</b></span>
      <span class="d-block mat-h4">$&nbsp;{{totalSaving}}</span>

    </div>
    <div class="col-lg-4">
      <span class="d-block mat-h3 mb-0"><b>Adjustment</b></span>
      <mat-form-field>
        <input
        matInput
        type='number'
        formControlName='costAdjustment'
        (change)="getFinalizedInfo()">
        <span class="mat-h4"  style="position: relative; bottom: 1px;" matPrefix>$&nbsp;</span>
      </mat-form-field>

      <span class="d-block mat-h3 mb-0"><b style="color: red;">Final Charge</b></span>
      <mat-form-field>
        <input
        matInput
        type='number'
        formControlName='finalCost'
        readonly
        style="font-size: 2rem;">
        <span class="mat-h4" style="position: relative; bottom: 8px;" matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
</form>
