<form [formGroup]="finalizedInfoForm" class="my-4" (keydown.enter)="$event.preventDefault()">
  <div class="row mt-4">
    <div class="col-lg-4">
      <span class="d-block mat-headline"><b>Total weight charge</b></span>
      <span class="d-block mat-title">$&nbsp;{{totalWeightCharge}}</span>
      <span class="d-block mat-headline"><b>Total extra charge</b></span>
      <span class="d-block mat-title">$&nbsp;{{totalExtraCharge}}</span>
      <span class="d-block mat-headline"><b>Total insurance</b></span>
      <span class="d-block mat-title">$&nbsp;{{totalInsurance}}</span>
    </div>

    <div class="col-lg-4">
      <span class="d-block mat-headline"><b>Total weight</b></span>
      <span class="d-block mat-title">{{totalWeight}}&nbsp;Kg</span>
      <span class="d-block mat-headline"><b>Total saving</b></span>
      <span class="d-block mat-title">$&nbsp;{{totalSaving}}</span>

    </div>
    <div class="col-lg-4">
      <span class="d-block mat-headline"><b>Adjustment</b></span>
      <mat-form-field>
        <input
        matInput
        type='number'
        formControlName='costAdjustment'
        (change)="getFinalizedInfo()"
        style="font-size: 1.3rem;">
        <span class="mat-title" style="position: relative; bottom: 3px;" matPrefix>$&nbsp;</span>
      </mat-form-field>

      <span class="d-block mat-headline"><b>Final Charge</b></span>
      <mat-form-field>
        <input
        matInput
        type='number'
        formControlName='finalCost'
        readonly
        style="font-size: 2rem;">
        <span class="mat-headline" style="position: relative; bottom: 8px;" matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
</form>
