<app-header
  (sideMenuClicked)="drawer.toggle()">
</app-header>

<mat-drawer-container class="side-menu" autosize>
  <mat-drawer #drawer class="side-menu-nav" mode="side">
    <div *ngIf="isAuth()">
      <a mat-button color="primary" class="w-100" [routerLink]="'/'"><mat-icon>home</mat-icon></a>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="isAuth()">
      <a mat-button color="primary" class="w-50" (click)="accordion.openAll()"><mat-icon>unfold_more</mat-icon></a>
      <a mat-button color="primary" class="w-50" (click)="accordion.closeAll()"><mat-icon>unfold_less</mat-icon></a>
    </div>
    <mat-accordion multi *ngIf="isAuth()" style="margin-bottom: 100px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span translate>general.trackings</span>
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">flight</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/onl'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}"><span translate>tracking-types.onl</span></a>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/sev'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}"><span translate>tracking-types.sev</span> (not ready)</a>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/inp'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.inp</span></a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/csl'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.csl</span></a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/mst'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.mst</span></a>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span translate>side-nav-bar.new-tracking</span>
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">new_label</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.everyone)" [routerLink]="'/trackings/create/onl'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.onl</span></a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/sev'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.sev</span> (not ready)</a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/inp'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.inp</span></a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/csl'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.csl</span></a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/mst'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.mst</span></a>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="canView(authGlobals.managerAdmins)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span translate>side-nav-bar.pricing</span>
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">price_change</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" [routerLink]="'/pricings/new'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>side-nav-bar.new-pricing</span></a>
        <a mat-menu-item class="nav-link" [routerLink]="'/pricings/edit'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>side-nav-bar.edit-pricing</span></a>
        <a mat-menu-item class="nav-link" [routerLink]="'/pricings/custom'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>side-nav-bar.custom-pricing</span></a>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="canView(authGlobals.internal)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span translate>general.users</span>
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" [routerLink]="'/auth/users/new'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>side-nav-bar.new-user</span></a>
        <a mat-menu-item class="nav-link" [routerLink]="'/auth/users'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>side-nav-bar.edit-user</span></a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.managerAdmins) || canView([authGlobals.roles.Accounting])" [routerLink]="'/auth/users/adjustCredit'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>side-nav-bar.adjust-credit</span></a>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="canView(authGlobals.internal)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span translate>side-nav-bar.reports</span>
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" [routerLink]="'/reports/trackings'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>general.trackings</span></a>
        <a mat-menu-item class="nav-link" [routerLink]="'/reports/users'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>general.users</span></a>
      </mat-expansion-panel>
      <div class="text-center my-4 text-muted">
        <div>Weshippee 2021</div>
        <div>By Khoa Hoang</div>
        <div>khoa.hoang@outlook.com</div>
      </div>

    </mat-accordion>
  </mat-drawer>

  <div class="side-menu-content">
    <main>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <ngx-spinner name="spinner"></ngx-spinner>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </main>
  </div>
  <a mat-fab color="primary" [matMenuTriggerFor]="aboveMenu" style="position: fixed; bottom: 2em; right: 2em"  *ngIf="isAuth()">
    <mat-icon>add</mat-icon>
  </a>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.everyone)" [routerLink]="'/trackings/create/onl'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.onl</span></a>
    <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/sev'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.sev</span> (not ready)</a>
    <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/inp'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.inp</span></a>
    <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/csl'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.csl</span></a>
    <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/mst'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true}"><span translate>tracking-types.mst</span></a>
  </mat-menu>
</mat-drawer-container>
