<app-header
  (sideMenuClicked)="drawer.toggle()">
</app-header>

<mat-drawer-container class="side-menu" autosize>
  <mat-drawer #drawer class="side-menu-nav" mode="side">
    <div>
      <button mat-button class="w-100" [routerLink]="'/'">Home</button>
    </div>
    <div>
      <button mat-button class="w-50" (click)="accordion.openAll()">Expand All</button>
      <button mat-button class="w-50" (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel *ngIf="isAuth()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Trackings
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">flight</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/onl'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }">Online</a>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/sev'" [routerLinkActive]="['is-active']">Serviced (Not ready)</a>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/inp'" [routerLinkActive]="['is-active']">In Person</a>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/csl'" [routerLinkActive]="['is-active']">Consolidated</a>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/mst'" [routerLinkActive]="['is-active']">Master</a>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="isAuth()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Create
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">add_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" [routerLink]="'/trackings/create/onl'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}">Online</a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/sev'" [routerLinkActive]="['is-active']">Serviced (Not ready)</a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/inp'" [routerLinkActive]="['is-active']">In Person</a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/csl'" [routerLinkActive]="['is-active']">Consolidated</a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/trackings/create/mst'" [routerLinkActive]="['is-active']">Master</a>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="isAuth() && canView(authGlobals.managerAdmins)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pricings
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">price_change</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" [routerLink]="'/pricing/new'" [routerLinkActive]="['is-active']">New Pricing</a>
        <a mat-menu-item class="nav-link" [routerLink]="'/pricing/edit'" [routerLinkActive]="['is-active']">Edit Pricing</a>
        <a mat-menu-item class="nav-link" [routerLink]="'/pricing/custom'" [routerLinkActive]="['is-active']">Custom pricing</a>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="isAuth()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Users
          </mat-panel-title>
          <mat-panel-description>
            <!-- Type your name and age -->
            <mat-icon class="ml-auto" color="primary">account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/auth/users/new'" [routerLinkActive]="['is-active']">New User</a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.internal)" [routerLink]="'/auth/users/edit'" [routerLinkActive]="['is-active']">Edit User</a>
        <a mat-menu-item class="nav-link" *ngIf="canView(authGlobals.managerAdmins) || canView([authGlobals.roles.Accounting])" [routerLink]="'/auth/users/adjustCredit'" [routerLinkActive]="['is-active']">Adjust Credit</a>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <div class="side-menu-content">
    <main>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <alert></alert>
            <ngx-spinner name="spinner"></ngx-spinner>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </main>
  </div>
</mat-drawer-container>
