<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <search-bar
  (onSearchEvent)="onFuzzySearch($event)"
></search-bar>

<mat-tab-group (selectedIndexChange)="tabChanged($event)"class="mb-4 greyed-text" [@.disabled]="true" [(selectedIndex)]="selectedIndex">
  <mat-tab label="Online" *ngIf="enabled[0]">
    <ng-template matTabContent>
      <tracking-list-common-template
        (pageDataChangeEvent)="pageDataChanged($event)"
        [trackingsObservable]="trackingsSubject.asObservable()"
        [resetPaginatorObservable]="resetPaginatorSubject.asObservable()">
      </tracking-list-common-template>
    </ng-template>
  </mat-tab>

  <mat-tab label="Serviced" *ngIf="enabled[1]">
    <ng-template matTabContent>
      <tracking-list-common-template
        (pageDataChangeEvent)="pageDataChanged($event)"
        [trackingsObservable]="trackingsSubject.asObservable()"
        [resetPaginatorObservable]="resetPaginatorSubject.asObservable()">
      </tracking-list-common-template>
    </ng-template>
  </mat-tab>

  <mat-tab label="In-person" *ngIf="enabled[2]">
    <ng-template matTabContent>
      <tracking-list-common-template
        (pageDataChangeEvent)="pageDataChanged($event)"
        [trackingsObservable]="trackingsSubject.asObservable()"
        [resetPaginatorObservable]="resetPaginatorSubject.asObservable()">
      </tracking-list-common-template>
    </ng-template>
  </mat-tab>

  <mat-tab label="Consolidated" *ngIf="enabled[3]">
    <ng-template matTabContent>
      <tracking-list-common-template
        (pageDataChangeEvent)="pageDataChanged($event)"
        [trackingsObservable]="trackingsSubject.asObservable()"
        [resetPaginatorObservable]="resetPaginatorSubject.asObservable()">
      </tracking-list-common-template>
    </ng-template>
  </mat-tab>

  <mat-tab label="Master" *ngIf="enabled[4] && canView(authGlobals.internal)">
    <ng-template matTabContent>
      <tracking-list-common-template
        (pageDataChangeEvent)="pageDataChanged($event)"
        [trackingsObservable]="trackingsSubject.asObservable()"
        [resetPaginatorObservable]="resetPaginatorSubject.asObservable()">
      </tracking-list-common-template>
    </ng-template>
  </mat-tab>
</mat-tab-group>
</div>

<!-- <p class='info-text mat-body-1' *ngIf="trackings.length == 0 && !trackingForm.controls['searchTerm'].value">No trackings found</p>
<div *ngIf="trackings.length == 0 && trackingForm.controls['searchTerm'].value && searchClicked">
  <p class='info-text mat-body-1'>Click to add and receive</p>
  <div class="d-flex justify-content-center">
    <a
      mat-fab
      color="primary"
      [routerLink]="['/create', {'searchTerm': trackingForm.controls['searchTerm'].value, 'received': true}]"
      >
      <mat-icon>add</mat-icon>
    </a>
  </div>
</div> -->







