mat-spinner {
  margin: auto;
}

mat-paginator {
   margin-top: 1rem;
}

mat-form-field {
  width: 100%;
}

/* target the element itself */
:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}
.image-container {
  padding: 1rem .5rem 0 .5rem;
}
