mat-paginator {
   margin-top: 1rem;
}

mat-expansion-panel mat-expansion-panel-header {
    height: 100%!important;
    min-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* target the element itself */
:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.image-container {
  padding: 1rem .5rem 0 .5rem;
}

.scroll-box {
  width: 100%;
  overflow: auto;
  min-height: 0px;
  height: 100%;
  max-height: 200px;

  /* background:
	linear-gradient(white 70%, hsla(0,0%,100%, 0) 10px),
	linear-gradient(hsla(0,0%,100%,0) 10px, white 70%) bottom,
	radial-gradient(at top, #70b8e9, transparent 30%),
	radial-gradient(at bottom, #70b8e9, transparent 30%) bottom;
  background-repeat:no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 20px, 100% 20px;
  background-attachment:local, local, scroll, scroll; */
}
