
<form [formGroup]="autoCompleteForm" class="w-100">
  <mat-form-field appearance="outline">
    <mat-label>{{matLabel}}</mat-label>
    <input type="text"
            matInput
            formControlName="item"
            (input)="filterItems($event.target.value)"
            [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectItem($event.option.viewValue)" autoActiveFirstOption="true">
      <mat-option *ngFor="let option of filteredData | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="autoCompleteForm.controls['item'].value && !lockOption" matSuffix mat-icon-button (click)="cancelItem()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error>{{matErrorMessage}}</mat-error>
  </mat-form-field>
</form>

