ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

/* change the background color */
.navbar-dark {
  background-color: rgb(103, 58, 182);;
}

/* change the color of active or hovered links */
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
  color: white;
}

::ng-deep.mat-menu-panel {
  min-width: 200px !important;
}

.navbar {
  z-index: 999;
}
