<nav class="navbar navbar-expand-sm navbar-dark sticky-top">
  <a class="navbar-brand" (click)="sideMenuPressed()"><mat-icon>near_me</mat-icon> (beta)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" *ngIf="isAuth()">
        <a class="nav-link" (click)="redirect('/trackings/tracking-tool')">Tracking Tool</a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a mat-button color="primary" [matMenuTriggerFor]="createMenu" style="color: white; padding: 0" class="mx-2"><mat-icon>language</mat-icon></a>
        <mat-menu #createMenu="matMenu">
          <a style="color: black;" mat-menu-item class="nav-link" (click)="languageChange('vi')">Tiếng Việt</a>
          <a style="color: black;" mat-menu-item class="nav-link" (click)="languageChange('en')">English</a>
        </mat-menu>
      </li>
      <li class="nav-item" *ngIf="isAuth()">
        <a mat-button [matMenuTriggerFor]="currentUserMenu" style="color: white; padding: 0;" class="mx-2">{{user?.name}}</a>
        <mat-menu #currentUserMenu="matMenu">
          <a style="color: black; font-size: 2em;" *ngIf="user" mat-menu-item class="nav-link">{{user.userCode}}</a>
          <a style="color: black;" *ngIf="user" mat-menu-item class="nav-link" [routerLink]="'/auth/users/edit/' + user._id">{{'auth.profile' | translate}}</a>
          <a style="color: black;" mat-menu-item class="nav-link" (click)="onLogOut()">{{'auth.logout' | translate}}</a>
          <mat-divider></mat-divider>
          <a style="color: grey;" mat-menu-item routerLinkActive="mat-accent">{{'roles.' + user?.role | translate}}</a>
          <a style="color: grey;" mat-menu-item routerLinkActive="mat-accent">{{user?.credit | currency: 'USD'}}</a>
          <a style="color: grey;" mat-menu-item routerLinkActive="mat-accent">{{(user?.active? 'auth.active' : 'auth.inactive') | translate}}</a>
        </mat-menu>
      </li>
      <li class="nav-item" *ngIf="isAuth()">
        <app-onboarding></app-onboarding>
      </li>
    </ul>
  </div>
</nav>

