
<div *ngIf="consolidatedForm">
  <form [formGroup]="consolidatedForm" (submit)="onSave()" class="my-4">
    <general-info
      #generalInfo
      [usersObservable]="usersSubject.asObservable()"
      [defaultLocationsObservable]="defaultLocationsSubject.asObservable()"
      [trackingNumberObservable]="trackingNumeberSubject.asObservable()"
      (formValidityStatus)="generalInfoValidity($event)"
      (generalInfoUpdated)="generalInfoUpdated($event)"
      [generalInfoObservable]="generalInfoSubject.asObservable()"
      [disabledFields]="generalInfoDisabledFields">
    </general-info>

    <div *ngIf="showTable">
      <mat-tab-group [@.disabled]="true" [(selectedIndex)]="selectedTabIndex" color="accent">
        <mat-tab label="Online">
          <consolidation-table
            #onlineTable
            [tableDataObservable]="onlineTrackingDataSubject.asObservable()"
            (selectionEmitted)="onlineSelectionReceived($event)"
            [deselectItemObservable]="deselectOnlineTrackingSubject.asObservable()">
          </consolidation-table>
        </mat-tab>

        <mat-tab label="Serviced">
          <consolidation-table
              #servicedTable
              [tableDataObservable]="servicedTrackingDataSubject.asObservable()"
              (selectionEmitted)="servicedSelectionReceived($event)"
              [deselectItemObservable]="deselectServicedTrackingSubject.asObservable()">
            </consolidation-table>
        </mat-tab>

        <mat-tab label="In-person">
          <consolidation-table
              #inPersonTable
              [tableDataObservable]="inPersonSubTrackingDataSubject.asObservable()"
              (selectionEmitted)="inPersonSelectionReceived($event)"
              [deselectItemObservable]="deselectInPersonSubTrackingSubject.asObservable()">
          </consolidation-table>
        </mat-tab>
      </mat-tab-group>

      <div class="finalizing-table" *ngIf="mode==='edit' && tempDataSource.data.length > 0">
        <table mat-table [dataSource]="tempDataSource">
          <ng-container matColumnDef="TrackingNumber">
            <th mat-header-cell *matHeaderCellDef translate>general.tracking-number</th>
            <td mat-cell *matCellDef="let item" class="p-0">
              <a
                matSuffix
                mat-icon-button
                color="warn"
                (click)="addItemBack(item)"
                style="position: relative; bottom: 1px;">
                <mat-icon style="color: blue;">add</mat-icon>
              </a>
              {{item.trackingNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="TrackingStatus">
            <th mat-header-cell *matHeaderCellDef translate>general.tracking-status</th>
            <td mat-cell *matCellDef="let item">
              {{'statuses.' + item.generalInfo.trackingStatus | translate}}
            </td>
          </ng-container>

          <ng-container matColumnDef="FinancialStatus">
            <th mat-header-cell *matHeaderCellDef translate>general.financial-status</th>
            <td mat-cell *matCellDef="let item">
              {{'statuses.' + item.generalInfo.financialStatus | translate}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef translate>tracking-info.weight</th>
            <td mat-cell *matCellDef="let item">
              {{item.generalInfo.totalWeight}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Cost">
            <th mat-header-cell *matHeaderCellDef translate>general.cost</th>
            <td mat-cell *matCellDef="let item">
              {{item.generalInfo.finalCost}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="finalizingDefinedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: finalizingDefinedColumns;"></tr>
        </table>
      </div>

      <div class="finalizing-table">
        <table mat-table [dataSource]="finalizingDataSource">
          <ng-container matColumnDef="TrackingNumber">
            <th mat-header-cell *matHeaderCellDef translate>general.tracking-number</th>
            <td mat-cell *matCellDef="let item" class="p-0">
              <a
                matSuffix
                mat-icon-button
                color="warn"
                (click)="removeItem(item)"
                style="position: relative; bottom: 1px;">
                <mat-icon>clear</mat-icon>
              </a>
              {{item.trackingNumber}} </td>
            <td mat-footer-cell *matFooterCellDef translate>general.total</td>
          </ng-container>

          <ng-container matColumnDef="TrackingStatus">
            <th mat-header-cell *matHeaderCellDef translate>general.tracking-status</th>
            <td mat-cell *matCellDef="let item">
              {{'statuses.' + item.generalInfo.trackingStatus | translate}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="FinancialStatus">
            <th mat-header-cell *matHeaderCellDef translate>general.financial-status</th>
            <td mat-cell *matCellDef="let item">
              {{'statuses.' + item.generalInfo.financialStatus | translate}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef translate>tracking-info.weight</th>
            <td mat-cell *matCellDef="let item">
              {{item.generalInfo.totalWeight}}
            </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalWeight()}} kg </td>
          </ng-container>

          <ng-container matColumnDef="Cost">
            <th mat-header-cell *matHeaderCellDef translate>general.cost</th>
            <td mat-cell *matCellDef="let item">
              {{item.generalInfo.finalCost}}
            </td>
            <td mat-footer-cell *matFooterCellDef> $ {{getTotalCost()}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="finalizingDefinedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: finalizingDefinedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="finalizingDefinedColumns; sticky: true"></tr>
        </table>
      </div>

      <div class="my-4">
        <file-uploader #fileUploader
        [currentFilePathsObservable]="updateExistingImagesSubject.asObservable()"></file-uploader>
      </div>

      <notes
        [defaultContentObservable]="defaultContentSubject.asObservable()"
        (contentChanged)="consolidatedForm?.get('content').setValue($event)">
      </notes>
      <save-cancel-buttons></save-cancel-buttons>
    </div>
  </form>
</div>

