<form [formGroup]="inPersonForm" class="my-4">
  <mat-form-field>
    <mat-label>Order Number</mat-label>
    <input type='text' matInput formControlName='orderNumber'>
  </mat-form-field>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Sender</mat-label>
        <input type="text"
                matInput
                formControlName="customerCode"
                placeholder="Customer Code"
                (input)="filteredCustomerCodes = filterAutoCompleteItems($event.target.value, customerCodes)"
                [matAutocomplete]="autoCustomerCodes">
        <mat-autocomplete autoActiveFirstOption #autoCustomerCodes="matAutocomplete">
          <mat-option *ngFor="let option of filteredCustomerCodes | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>Please enter a customer code</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Recipient</mat-label>
        <input type="text"
                matInput
                formControlName="recipient"
                (input)="filteredRecipients = filterAutoCompleteItems($event.target.value, recipients)"
                [matAutocomplete]="autoRecipients">
        <mat-autocomplete autoActiveFirstOption #autoRecipients="matAutocomplete">
          <mat-option *ngFor="let option of filteredRecipients | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>Please select a recipient</mat-error>
      </mat-form-field>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Origin</mat-label>
        <mat-select matInput formControlName="origin" autoActiveFirstOption>
          <mat-option *ngFor="let option of origins" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error>Please select an origin</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Destination</mat-label>
        <mat-select matInput formControlName="destination">
          <mat-option *ngFor="let option of destinations" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error>Please select an destination</mat-error>
      </mat-form-field>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <mat-form-field appearance="outline">
        <mat-label>Total weight (KG)</mat-label>
          <input
          type='text'
          matInput
          formControlName='weight'
          >
        <mat-error>Please enter a weight</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-9">
      <mat-checkbox matInput formControlName='payAtDestination' class="p-2">Pay at destination</mat-checkbox>
      <mat-checkbox matInput formControlName='receiveAtDestinationWH' class="p-2">Receive at destination WH</mat-checkbox>
    </div>
  </div>

  <div class="my-2">
    <file-uploader></file-uploader>
  </div>

  <items-list></items-list>

  <mat-form-field appearance="outline" class="mt-4">
    <mat-label>Notes</mat-label>
    <textarea
    matInput
    rows='10'
    formControlName='content'
    ></textarea>
    <mat-error>Please enter some post content</mat-error>
  </mat-form-field>

  <div class="mt-2">
    <button
    mat-raised-button
    color='primary'
    type='submit'
    class="mr-2">
    Save
    </button>
    <button
      mat-raised-button
      color='warn'
      type=''>
      Cancel
    </button>
  </div>

</form>
