<div *ngIf="inPersonForm">
  <form [formGroup]="inPersonForm" (submit)="onSave()" class="my-4">
    <general-info
      #generalInfo
      [usersObservable]="usersSubject.asObservable()"
      [defaultLocationsObservable]="defaultLocationsSubject.asObservable()"
      [trackingNumberObservable]="trackingNumberSubject.asObservable()"
      (formValidityStatus)="generalInfoValidity($event)"
      [generalInfoObservable]="generalInfoSubject.asObservable()"
      [disabledFields]="generalInfoDisabledFields"
      (generalInfoUpdated)="pricingUpdate($event)">
    </general-info>

    <div class="my-2">
      <file-uploader #fileUploader
      [currentFilePathsObservable]="updateExistingImagesSubject.asObservable()"></file-uploader>
    </div>

    <div class="mt-2">
      <form [formGroup]="subTrackingsForm">
        <div formArrayName="subTrackings" *ngFor="let subTracking of subTrackingsForm.get('subTrackings')['controls']; let i = index;">
          <div style="margin-bottom: 50px;">
            <mat-card>
              <div [formGroupName]="i">
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Tracking Number</mat-label>
                      <input type='text' matInput formControlName='trackingNumber' #trackingNumber>
                      <button
                        [disabled]="subTracking.get('linkedToCsl').value || subTracking.get('linkedToMst').value"
                        matSuffix
                        mat-mini-fab
                        color="warn"
                        class="mr-2"
                        (click)="deleteSubTracking(i, subTracking.get('_id').value)">
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                      <a
                        matSuffix
                        mat-mini-fab
                        color="basic"
                        [cdkCopyToClipboard]="trackingNumber.value">
                        <mat-icon>content_copy</mat-icon>
                      </a>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Linked To Consolidated</mat-label>
                      <input type='text' matInput formControlName="linkedToCsl">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Linked To Master</mat-label>
                      <input type='text' matInput formControlName="linkedToMst">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-2">
                    <mat-checkbox matInput formControlName="financialStatus" style="position: relative; bottom: -15px;">Paid</mat-checkbox>
                  </div>
                </div>

                <div class="mt-4 mt-lg-0">
                  <items-list
                    #itemsList
                    [pricingObservable]="defaultPricingSubject.asObservable()"
                    [userIdObservable]="selectedUserIdSubject.asObservable()"
                    [updateExistingItemsObservable]="updateExistingItemsSubjects[i].asObservable()"
                    [pricingUpdatedObservable]="pricingUpdatedSubject.asObservable()"
                    (formValidity)="itemsListValidity($event, i)">
                  </items-list>
                </div>

                <div *ngIf="showFinalizedInfo[i]">
                  <finalized-info
                    #finalizedInfo
                    [itemsListObservable]="itemsListSubjects[i].asObservable()"
                    [costAdjustmentObservable]="costAdjustmentSubjects[i].asObservable()"
                    [exchangeObservable]="exchangeSubject[i].asObservable()"
                    (formValidity)="finalizedInfoValidty()">
                  </finalized-info>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
      <a mat-mini-fab color="accent" #addItemButton (click)="addSubTracking(null)"><mat-icon>add</mat-icon></a>
    </div>

    <div *ngIf="showTotalFinalizedInfo">
      <mat-card style="background-color: #673AB7; color: white" class="mt-4">
        <div class="row">
          <div class="col-lg-4">
            <span class="d-block mat-h3"><b>Total weight charge</b></span>
            <span class="d-block mat-h4">$&nbsp;{{totalWeightCharge}}</span>
            <span class="d-block mat-h3"><b>Total extra charge</b></span>
            <span class="d-block mat-h4">$&nbsp;{{totalExtraCharge}}</span>
            <span class="d-block mat-h3"><b>Total insurance</b></span>
            <span class="d-block mat-h4">$&nbsp;{{totalInsurance}}</span>
          </div>

          <div class="col-lg-4">
            <span class="d-block mat-h3"><b>Total weight</b></span>
            <span class="d-block mat-h4">{{totalWeight}}&nbsp;Kg</span>
            <span class="d-block mat-h3"><b>Total saving</b></span>
            <span class="d-block mat-h4">$&nbsp;{{totalSaving}}</span>

          </div>
          <div class="col-lg-4">
            <span class="d-block mat-h3 mb-0"><b style="font-size: 1.5rem;">Final Charge</b></span>
            <mat-form-field>
              <input
              matInput
              currencyMask
              formControlName='finalCost'
              [options]="{prefix: '$ ', thousands: ',', decimal: '.', align: 'left', allowNegative: true}"
              readonly
              style="font-size: 1.5rem;">
            </mat-form-field>

            <mat-form-field>
              <input
              matInput
              currencyMask
              formControlName='finalCostVND'
              [options]="{prefix: 'VND ', thousands: ',', decimal: '.', align: 'left', allowNegative: true, precision: 0}"
              readonly
              style="font-size: 1.5rem;">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-form-field appearance="outline" class="mt-4">
      <mat-label>Notes</mat-label>
      <textarea
      matInput
      rows='2'
      cdkTextareaAutosize
      formControlName='content'
      ></textarea>
    </mat-form-field>

    <div class="mt-2">
      <button
      mat-raised-button
      color='primary'
      type='submit'
      class="mr-2">
      Save
      </button>
      <button
        mat-raised-button
        color='warn'
        type='button'
        routerLink="/">
        Cancel
      </button>
    </div>

  </form>
</div>
