<div *ngIf="masterForm">
  <form [formGroup]="masterForm" (submit)="onSave()">
    <mat-card class="m-3 mat-elevation-z2">
      <general-info
        #generalInfo
        [usersObservable]="usersSubject.asObservable()"
        [defaultLocationsObservable]="defaultLocationsSubject.asObservable()"
        [trackingNumberObservable]="trackingNumeberSubject.asObservable()"
        (formValidityStatus)="generalInfoValidity($event)"
        (generalInfoUpdated)="generalInfoUpdated($event)"
        [generalInfoObservable]="generalInfoSubject.asObservable()"
        [disabledFields]="generalInfoDisabledFields"
        [disableSender]="true"
        [disableRecipient]="true">
      </general-info>
    </mat-card>


    <div *ngIf="showTable">
      <div formArrayName="boxes" *ngFor="let item of masterForm.get('boxes')['controls']; let i = index;">
        <div [formGroupName]="i">
          <mat-card class="m-3 mat-elevation-z2">
            <div class="row">
              <div class="col-lg-2">
                <mat-form-field appearance="outline">
                  <mat-label translate>tracking-info.pallet-number</mat-label>
                  <input matInput type="number" min="0" formControlName="palletNumber">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label translate>tracking-info.box-number</mat-label>
                  <input matInput type="number" min="0" formControlName="boxNumber">
                </mat-form-field>
              </div>

              <div class="col-lg-10">
                <mat-form-field appearance="outline">
                  <mat-label>{{'general.tracking-number' | translate}}...</mat-label>
                  <mat-chip-list #chipList>
                    <mat-chip
                      *ngFor="let item of masterForm.get('boxes').value[i].items; let index = index"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="removeItem(index ,i, item)">
                      {{item}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                      #chipInput
                      (keyup.enter)="chipInput.value = ''"
                      [formControl]="trackingCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (keydown.enter)="$event.preventDefault()">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="selectItem($event.option.value, i); chipInput.value = '';">
                    <mat-option *ngFor="let t of filteredTrackings | async" [value]="t.trackingNumber">
                      {{t.trackingNumber}} {{t.generalInfo.sender?.name}} {{t.generalInfo.sender?.userCode}} {{'statuses.' + t.generalInfo.trackingStatus | translate}}
                    </mat-option>
                  </mat-autocomplete>
                  <a matSuffix mat-mini-fab color="warn" (click)="removeBox(i, masterForm)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label translate>general.notes</mat-label>
                  <textarea
                  matInput
                  rows='1'
                  formControlName='content'
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-card>

        </div>
      </div>
    </div>
    <mat-card *ngIf="showTable" class="m-3 mat-elevation-z2">
      <a mat-mini-fab color="primary" class="float-right" (click)="addbox(null)"><mat-icon>add</mat-icon></a>
      <file-uploader #fileUploader
      [currentFilePathsObservable]="updateExistingImagesSubject.asObservable()"></file-uploader>
    </mat-card>

    <notes
      [defaultContentObservable]="defaultContentSubject.asObservable()"
      (contentChanged)="masterForm?.get('content').setValue($event)">
    </notes>

    <save-cancel-buttons></save-cancel-buttons>
  </form>
</div>






