<div *ngIf="onlineForm">
  <form [formGroup]='onlineForm' (submit)='onSave()' class="my-4">
    <general-info
      #generalInfo
      [usersObservable]="usersSubject.asObservable()"
      [defaultLocationsObservable]="defaultLocationsSubject.asObservable()"
      [trackingNumberObservable]="trackingNumeberSubject.asObservable()"
      (formValidityStatus)="generalInfoValidity($event)"
      [generalInfoObservable]="generalInfoSubject.asObservable()"
      [statusChangeObservable]="statusChangeSubject.asObservable()"
      (generalInfoUpdated)="pricingUpdate($event)">
    </general-info>

    <div class="row">
      <mat-form-field appearance="outline" class="col-lg-4">
        <mat-label>Carrier</mat-label>
        <mat-select formControlName="carrier">
          <mat-option *ngFor="let carrier of carriers" [value]="carrier">
            {{carrier}}
          </mat-option>
        </mat-select>
        <mat-error>Please choose a carrier</mat-error>
        <!-- <mat-hint>{{form.get('carrier').value?.sound}}</mat-hint> -->
      </mat-form-field>

      <div class="d-flex col-lg-8">
        <mat-form-field appearance="outline">
          <mat-label>Carrier Tracking Number</mat-label>
          <input
          matInput
          type='text'
          formControlName='carrierTrackingNumber'>
          <button *ngIf="onlineForm.controls['carrierTrackingNumber'].value" matSuffix mat-icon-button (click)="onlineForm.controls['carrierTrackingNumber'].setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Please enter a Tracking Number</mat-error>
        </mat-form-field>
        <a
          mat-mini-fab
          color='primary'
          class="mt-2 d-inline ml-2"
          (click)="scannerOpened = !scannerOpened">
          <mat-icon>qr_code</mat-icon>
        </a>
      </div>
    </div>

    <div class="mt-2">
      <file-uploader
      #fileUploader
      [currentFilePathsObservable]="updateExistingImagesSubject.asObservable()">
      </file-uploader>
    </div>

    <div class="mt-2">
      <mat-checkbox matInput formControlName="received" (change)="receivedCheckboxChecked($event)">Received</mat-checkbox>
    </div>

    <div class="mt-2">
      <items-list
        #itemsList
        [pricingObservable]="defaultPricingSubject.asObservable()"
        [userIdObservable]="selectedUserIdSubject.asObservable()"
        [updateExistingItemsObservable]="updateExistingItemsSubject.asObservable()"
        [pricingUpdatedObservable]="pricingUpdatedSubject.asObservable()"
        (formValidity)="itemsListValidity($event)"
        >
      </items-list>
    </div>

    <div *ngIf="showFinalizedInfo">
      <finalized-info
        #finalizedInfo
        [itemsListObservable]="itemsListSubject.asObservable()"
        [costAdjustmentObservable]="costAdjustmentSubject.asObservable()"
        [exchangeObservable]="exchangeSubject.asObservable()">
      </finalized-info>
    </div>

    <mat-form-field appearance="outline" class="mt-4">
      <mat-label>Notes</mat-label>
      <textarea
      matInput
      rows='2'
      cdkTextareaAutosize
      formControlName='content'
      ></textarea>
    </mat-form-field>

    <div class="mt-2">
      <button
        mat-raised-button
        color='primary'
        type='submit'
        class="mr-2">
        Save
      </button>
      <button
        mat-raised-button
        color='warn'
        type='button'
        routerLink="/">
        Cancel
      </button>
    </div>
  </form>
</div>
