<form [formGroup]='servicedForm' (submit)='onSave()' class="my-4">
  <div class="row">
    <mat-form-field class="col-lg-6" appearance="outline">
      <mat-label>Tracking Number</mat-label>
      <input type='text' matInput formControlName='trackingNumber' #trackingNumber>
      <a
        matSuffix
        mat-mini-fab
        color="basic"
        [cdkCopyToClipboard]="trackingNumber.value">
        <mat-icon>content_copy</mat-icon>
      </a>
    </mat-form-field>

    <div class="col-lg-6">
      <auto-complete-input #recipient [data]="customerCodes" [matLabel]="'Customer Code'" [matErrorMessage]="'Please select one from the drowdown'"></auto-complete-input>
    </div>
  </div>

  <div formArrayName="items" *ngFor="let item of servicedForm.get('items')['controls']; let i = index;">
    <div [formGroupName]="i">
      <div class="row">

        <mat-form-field appearance="outline" class="col-lg">
          <mat-label>Link</mat-label>
          <input
          type='url'
          matInput
          formControlName='productLink'>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-lg">
          <mat-label>Price $</mat-label>
          <input
          matInput
          currencyMask
          formControlName='productPrice'
          [options]="{prefix: '$ ', thousands: ',', decimal: '.', align: 'left', allowNegative: false, max: 100000}">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-lg">
          <mat-label>Specifications</mat-label>
          <input
          placeholder="Size, color, shape..."
          matInput
          type='text'
          formControlName='specifications'>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-lg">
          <mat-label>Quantity</mat-label>
          <input
          matInput
          type='number'
          formControlName='quantity'>
          <a
            matSuffix
            mat-mini-fab
            color="warn"
            (click)="removeItem(i)">
            <mat-icon>delete</mat-icon>
          </a>
        </mat-form-field>
      </div>
    </div>
  </div>
  <a mat-fab color="primary" class="float-right mb-4" style="margin-right: 13px;" (click)="addItem()"><mat-icon>add</mat-icon></a>

  <div class="mt-2 mb-2">
    <file-uploader></file-uploader>
  </div>

  <items-list #itemsList></items-list>



  <mat-form-field appearance="outline" class="mt-4">
    <mat-label>Notes</mat-label>
    <textarea
    matInput
    rows='10'
    formControlName='content'
    ></textarea>
    <mat-error>Please enter some post content</mat-error>
  </mat-form-field>

  <div class="mt-2">
    <button
    mat-raised-button
    color='primary'
    type='submit'
    class="mr-2">
    Save
    </button>
    <button
      mat-raised-button
      color='warn'
      type=''>
      Cancel
    </button>
  </div>
</form>


