<auto-complete-input
  #companyCode
  [dataObservable]="companiesSubject.asObservable()"
  (itemSelected)="companySelected($event)"
  [matLabel]="'Company Code'">
</auto-complete-input>

<!-- Button trigger modal -->
<button id="onboardButton" hidden mat-raised-button color='primary' data-toggle="modal" data-target="#secretCodeModal"></button>

<!-- Modal -->
<div class="modal fade" id="secretCodeModal" tabindex="-1" role="dialog" aria-labelledby="secretCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="secretCodeModalLabel">Enter company's secret code to register</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="outline">
          <mat-label>Register Code</mat-label>
          <input
            #registerCode
            type="text"
            required
            matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Referral Code</mat-label>
          <input
            #referralCode
            type="text"
            matInput>
        </mat-form-field>
      </div>
      <div class="modal-footer" *ngIf="registerCode.value">
        <button mat-raised-button color='accent' data-dismiss="modal" (click)="onboard(registerCode.value, referralCode.value)">Submit</button>
      </div>
    </div>
  </div>
</div>
