<mat-tab-group class="mb-4 greyed-text" [@.disabled]="true" [(selectedIndex)]="selectedIndex">
  <mat-tab [label]="'general.new-pricing' | translate" *ngIf="enabled[0] && isAuth()">
    <ng-template matTabContent>
      <new-pricing-form></new-pricing-form>
    </ng-template>
  </mat-tab>

  <mat-tab [label]="'general.edit-pricing' | translate" *ngIf="enabled[1] && isAuth()">
    <ng-template matTabContent>
      <edit-pricing-form></edit-pricing-form>
    </ng-template>
  </mat-tab>

  <mat-tab [label]="'general.custom-pricing' | translate" *ngIf="enabled[2] && isAuth()">
    <ng-template matTabContent>
      <custom-pricing-form></custom-pricing-form>
    </ng-template>
  </mat-tab>
</mat-tab-group>


