<div *ngIf="!isLoading">
  <mat-tab-group [@.disabled]="true" [(selectedIndex)]="selectedTabIndex">
    <mat-tab *ngIf="!isAuth()" [label]="'auth.login' | translate">
      <ng-template matTabContent>
        <login-form></login-form>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="!isAuth()" [label]="'auth.forgot-password' | translate">
      <ng-template matTabContent>
        <password-reset-form></password-reset-form>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="enabled[0] && !isAuth()" [label]="'auth.signup' | translate">
      <ng-template matTabContent>
        <signup-form></signup-form>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="enabled[0] && isAuth() && canView(authGlobals.everyone)" [label]="'auth.new-user' | translate">
      <ng-template matTabContent>
        <signup-form></signup-form>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="enabled[1] && isAuth() && canView(authGlobals.everyone)" [label]="'auth.edit-user' | translate">
      <ng-template matTabContent>
        <signup-form></signup-form>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="enabled[2] && isAuth() && canView([authGlobals.roles.SuperAdmin])" [label]="'auth.new-organization' | translate">
      <ng-template matTabContent>
        <onboarding-form></onboarding-form>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="enabled[3] && isAuth() && canView(authGlobals.admins)" [label]="'auth.edit-organization' | translate">
      <ng-template matTabContent>
        <onboarding-form></onboarding-form>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="enabled[4] && isAuth() && canView(authGlobals.officers)" [label]="'auth.select-user-to-edit' | translate">
      <ng-template matTabContent>
        <edit-user-form></edit-user-form>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="enabled[5] && isAuth() && (canView(authGlobals.managerAdmins) || canView([authGlobals.roles.Accounting]))" [label]="'auth.select-user-to-edit' | translate">
      <ng-template matTabContent>
        <adjust-credit-form></adjust-credit-form>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
