<mat-tab-group [@.disabled]="true" [selectedIndex]="selectedTabIndex">
  <mat-tab *ngIf="!isAuth()" label="Login">
    <login-form></login-form>
  </mat-tab>

  <mat-tab *ngIf="isAuth() && mode === 'create' && canView(authGlobals.everyone)" label="Signup">
    <signup-form></signup-form>
  </mat-tab>

  <mat-tab *ngIf="isAuth() && mode === 'edit' && canView(authGlobals.everyone)" label="Edit User">
    <signup-form></signup-form>
  </mat-tab>

  <mat-tab *ngIf="(isAuth() && canView(authGlobals.everyone)) || !isAuth()" label="Forgot password?">
    <password-reset-form></password-reset-form>
  </mat-tab>

  <mat-tab *ngIf="isAuth() && canView([authGlobals.roles.SuperAdmin])" label="Onboarding">
    <onboarding-form></onboarding-form>
  </mat-tab>
</mat-tab-group>
