html, body {
  min-height: 100vh;
  height: auto;
}

body {
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 53px;
}

a {
  text-decoration: none !important;
}

p {
  max-height: 100%;
  white-space: pre-wrap;
}

mat-spinner {
  margin: 1rem auto;
}

.image-preview img {
  margin: .5rem .5rem;
  height: 80px;
  width: 80px;
  /* height: 100%; */
  object-fit: cover;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.image-preview img:hover {
  box-shadow: 0 0 8px #673AB7;
}

.primary-text {
  color: #673AB7;
}

.dimmed-text {
  color: rgb(87, 87, 87);
  font-size: 0.7em;
}

.greyed-text {
  color: rgb(87, 87, 87);
}


/* MatTabGroup animation */
.mat-tab-body.mat-tab-body-active {
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 0rem!important;
  margin: 0rem!important;
 }

form {
  max-width: 100%;
  overflow-x: hidden;
}

.centered-of-page {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.center-of-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

app-root {
  /* margin: 1rem auto; */
  padding-bottom: 4rem;
}

mat-form-field {
  width: 100%;
}

.is-active {
  border-radius: 5px;
  background: #eceff1;
  font-weight: bold;
  color: #673AB7 !important;
}

.mat-menu-item:hover {
  font-weight: bold;
  color: #673AB7 !important;
}

table {
  width: 100%;
}

mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell .mat-header-cell {
  padding-right: 0.5rem !important;
}
