/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

a {
  text-decoration: none;
  color: blue;
}

.scroll-box {
  overflow: auto;
  min-height: 0px;
  height: 100%;
  max-height: 200px;

  /* background:
	linear-gradient(white 70%, hsla(0,0%,100%, 0) 10px),
	linear-gradient(hsla(0,0%,100%,0) 10px, white 70%) bottom,
	radial-gradient(at top, #70b8e9, transparent 30%),
	radial-gradient(at bottom, #70b8e9, transparent 30%) bottom;
  background-repeat:no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 20px, 100% 20px;
  background-attachment:local, local, scroll, scroll; */
}

p {
  max-height: 100%;
  white-space: pre-wrap;
}

mat-spinner {
  margin: 1rem auto;
}

.image-preview img {
  margin: .5rem .5rem;
  height: 80px;
  width: 80px;
  /* height: 100%; */
  object-fit: cover;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.image-preview img:hover {
  box-shadow: 0 0 8px #673AB7;
}
