
  <form [formGroup]="generalInfoForm" class="my-4" (keydown.enter)="$event.preventDefault()">
    <div class="row">
      <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label translate>general.tracking-number</mat-label>
        <input type='text' matInput formControlName='trackingNumber' #trackingNumber>
        <a
          matSuffix
          mat-mini-fab
          color="basic"
          [cdkCopyToClipboard]="trackingNumber.value">
          <mat-icon>content_copy</mat-icon>
        </a>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label translate>general.tracking-status</mat-label>
        <mat-select formControlName="trackingStatus">
          <mat-option *ngFor="let option of trackingStatuses" [value]="option">
            {{'statuses.' + option | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label translate>general.financial-status</mat-label>
        <mat-select formControlName="financialStatus">
          <mat-option *ngFor="let option of financialStatuses" [value]="option">
            {{'statuses.' + option | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-lg-6" *ngIf="!this.disableSender">
        <auto-complete-input
          #sender
          [selectItemObservable]="selectSenderSubject.asObservable()"
          [dataObservable]="sendersSubject.asObservable()"
          [enforeSelection]="true"
          (itemSelected)="senderSelected($event)"
          (itemCancelled)="itemCancelled()"
          (inputInvalid)="generalInfoForm.get('sender').setValue('')"
          [matLabel]="'general.sender' | translate"
          [lockOption]="disabledFields[3]">
        </auto-complete-input>
      </div>
      <div class="col-lg-6" *ngIf="!this.disableRecipient">
        <auto-complete-input
          #recipient
          [selectItemObservable]="selectRecipientSubject.asObservable()"
          [dataObservable]="recipientsSubject.asObservable()"
          [enforeSelection]="true"
          (itemSelected)="recipientSelected($event)"
          (inputInvalid)="generalInfoForm.get('recipient').setValue('')"
          [matLabel]="'general.recipient' | translate"
          [lockOption]="disabledFields[4]">
        </auto-complete-input>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label translate>general.origin</mat-label>
          <mat-select formControlName="origin">
            <mat-option *ngFor="let option of defaultLocationsObservable | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label translate>general.destination</mat-label>
          <mat-select formControlName="destination">
            <mat-option *ngFor="let option of defaultLocationsObservable | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
