<form [formGroup]="generalInfoForm" class="my-4" (keydown.enter)="$event.preventDefault()">
  <div class="row">
    <mat-form-field appearance="outline" class="col-lg-6 px-2 pl-lg-0">
      <mat-label>Tracking Number</mat-label>
      <input type='text' matInput formControlName='trackingNumber' #trackingNumber>
      <a
        matSuffix
        mat-mini-fab
        color="basic"
        [cdkCopyToClipboard]="trackingNumber.value">
        <mat-icon>content_copy</mat-icon>
      </a>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-6 px-2 pr-lg-0">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of statuses" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
      <mat-error>Please select a status</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-lg-6 px-2 pl-lg-0">
        <auto-complete-input
          #sender
          [dataObservable]="sendersSubject.asObservable()"
          [enforeSelection]="true"
          (itemSelected)="senderSelected($event)"
          (itemCancelled)="itemCancelled()"
          (inputInvalid)="generalInfoForm.get('sender').setValue('')"
          [matLabel]="'Sender'"
          [matErrorMessage]="'Please select one from the drowdown'">
        </auto-complete-input>
    </div>
    <div class="col-lg-6 px-2 pr-lg-0">
        <auto-complete-input
          #recipient
          [dataObservable]="recipientsSubject.asObservable()"
          [enforeSelection]="true"
          (itemSelected)="recipientSelected($event)"
          (inputInvalid)="generalInfoForm.get('recipient').setValue('')"
          [matLabel]="'Recipient'"
          [matErrorMessage]="'Please select one from the drowdown or create a recipient'">
        </auto-complete-input>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 px-2 pl-lg-0">
      <mat-form-field appearance="outline">
        <mat-label>Origin</mat-label>
        <mat-select formControlName="origin">
          <mat-option *ngFor="let option of defaultLocationsObservable | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error>Please select an origin</mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-6 px-2 pr-lg-0">
      <mat-form-field appearance="outline">
        <mat-label>Destination</mat-label>
        <mat-select formControlName="destination">
          <mat-option *ngFor="let option of defaultLocationsObservable | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error>Please select an destination</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
